:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f53f2d;
    --boder-color: #dbdbdb;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

.grid__column-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 6);
}

.grid__column-2-3 {
    width: calc(100% / 3);
}

.grid__column-2-5 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 5);
}

.grid__colmn-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc((100% / 12) * 10);
}

/*======= animation ===== */
@keyframes appearSlowly {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: appearSlowly linear 0.2s;
    z-index: 2;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --grow-from: 0.7;
    --grow-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 1s;
}

/* button */
.btn {
    min-width: 60px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-size-l {
    min-width: 142px;
}

.btn-size-m {
    min-width: 120px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    filter: brightness(70%);    
}

/* Select input */

.select-input {
    min-height: 34px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    width: 160px;
    margin: 0 10px;
}

.select-input__icon {
    margin-right: 10px;
    font-size: 1.6rem;
}

.select-input__list {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    list-style: none;
    width: 200px;
    background-color: var(--white-color);
    margin-top: 1px;
    border-radius: 2px;
    padding: 10px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    animation: appearSlowly linear 0.2s;
    display: none;
}

.select-input__item {
    height: 34px;
    line-height: 34px;
}

.select-input__item:hover {
    color: var(--primary-color);
}

/*======= Pagination =======*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}
 
.pagination-item__link {
    display: block;
    margin: 0 15px;
    width: 40px;
    height: 30px;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    font-size: 2rem;
    color: #939393;
    text-decoration: none;
}

.pagination-item__link--current {
    background-color: #d0011b;
    color: var(--white-color);
}

.pagination-item__icon {

}
